

.login-container{
    display: flex;
    /* background: #91cbe2; */
    background: #00000090;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}
.form-login{
    height: 450px;
    width: 90%;
    max-width: 300px;
    background: #eee;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:20px
}
.form-email{
    margin-bottom: 20px !important;
}
